.App {
  text-align: center;
}

.App-header {
  background-color: #516f96;
  filter: brightness(80%) saturate(80%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h4{
  color: #F2F2F2;
}
.editores{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: stretch;
}
.containerE{
  display:flex;
}
.editor1 {
  flex:1;
  margin-right: 100px;
  text-align: left;
}
.editor2{
  flex: 1;
  text-align: left;
}