#barra_superior{
    background-color: #516196;
}

#barra_superior a{
    color: #F7F7F7;
}

#barra_superior li{
    background-color: #3e5779;
}

#barra_superior ul{
    background-color: #3e5779;
}
